<!-- Comment template -->
<div class="media">
  <button class="close">&times;</button>
  <a class="pull-left" href="#">
    <img class="media-object" src="img/user.png">
  </a>
  <div class="media-body">
    <a href="#"><strong>Guest</strong></a>
    <%= text %>          
    <br>
    <span class="muted comment-date" title="<%= moment(creationDate).format("dddd, MMMM Do YYYY, h:mm:ss a") %>"><%= moment(creationDate).fromNow() %></span>                
    <button class="btn-link like"><i class="icon-thumbs-up"></i></button> <span class="badge badge-success"><%= like %></span>
    <button class="btn-link dislike"><i class="icon-thumbs-down"></i></button> <span class="badge badge-important"><%= dislike %></span>
  </div>
  <hr>
</div>
